<?xml version="1.0" encoding="UTF-8"?>
<Configuration >
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" >
            <PatternLayout
              pattern="%style{%date{ISO8601}}{white} [%highlight{%level}] [%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
        </Console>

        <RollingFile name="RollingFile"
                     fileName="./logs/spring-boot-logger-log4j2.log"
                     filePattern="./logs/$${date:yyyy-MM}/spring-boot-logger-log4j2-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches
                        10 MegaBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                  size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- LOG everything at INFO level -->
        <Root level="all">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>

        <!-- My Application -->
        <Logger name="io.jlyon.movierental" level="info" />
        <Logger name="io.jlyon.movierental.tmdb" level="info" />
        <Logger name="io.jlyon.movierental.exception" level="trace" />

        <!-- Core Dependencies -->
        <Logger name="org.springframework" level="warn" />
        <Logger name="org.springframework.boot" level="warn" />
        <Logger name="org.springframework.security" level="info" />
        <Logger name="org.springframework.security.web.csrf" level="info" />
        <Logger name="org.springframework.web" level="warn" />
        <Logger name="org.apache" level="warn" />
        <Logger name="org.hibernate" level="warn" />
        <Logger name="com.zaxxer" level="warn"/>
    </Loggers>

</Configuration>